<div class="oppia-resume-lesson-modal">
  <div class="modal-header">
    <h2 class="modal-title">
      {{ 'I18N_TOPIC_VIEWER_LESSON_IN_PROGRESS_MODAL_TITLE' | translate }}
    </h2>
    <button type="button"
            class="close-btn"
            (click)="cancel()"
            aria-label="Close">
      &times;
    </button>
  </div>
  <div class="modal-description">
    <p>{{ 'I18N_TOPIC_VIEWER_LESSON_IN_PROGRESS_MODAL_DESCRIPTION' | translate }}</p>
  </div>
  <button class="resume-button" (click)="confirm('resume')">
    {{ 'I18N_TOPIC_VIEWER_RESUME' | translate }}
  </button>
  <button class="restart-button" (click)="confirm('start_over')">
    {{ 'I18N_TOPIC_VIEWER_START_OVER' | translate }}
  </button>
</div>
